/* google font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Neuton:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1rem;
    color: #131515;
    background-color: #5c6d99;
    background-image: linear-gradient(315deg, #5c6d99 0%, #54648c 100%);
}

p,
li {
    font-family: 'Neuton', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
}

/* Styling for the landing page */
.start-container {
    height: 300px;
    width: 600px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #131515;
}

.start-container .start-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #5c6d99;
    padding: 0.8rem 0;
}

.start-container .intro {
    text-align: center;
    border-bottom: 1px solid #5c6d99;
    padding: 1.8rem 0;
}

.start-container .start-button button {
    font-size: 1.5rem;
    width:100%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: #5c6d99;
    color: #fff;
    padding: 2rem;
    border-radius: 0 0 10px 10px;
}

.start-container .start-button button:hover {
    background: #54648c;
}


/* Styling for the Quiz Section */

.quiz-container {
    height: 400px;
    width: 600px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #131515;
}

.quiz-container .quiz-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #5c6d99;
    padding: 1rem;
    text-align: center;
}

.quiz-container ul {
    list-style-type: none;
    padding: 3rem 0.5rem;
    border-bottom: 1px solid #5c6d99;
}

.quiz-container ul li {
    margin: 0.5rem 0;
}

.quiz-container ul li label {
    cursor: pointer;
}

.quiz-container .submit button {
    font-size: 1.5rem;
    padding: 2rem;
    width: 100%;
    cursor: pointer;
    border: none;
    background: #5c6d99;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.quiz-container .submit button:hover {
    background: #54648c;
}

.quiz-container .submit button:focus {
    outline: none;
    background-color: #44b927;
}